<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="author" content="xhsun">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<!--favicons-->
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon/favicon.ico" | prepend: site.image | prepend: site.url }}" >
<link rel="icon" type="image/png" href="{{ "favicon/favicon-16x16.png" | prepend: site.image | prepend: site.url }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ "favicon/favicon-32x32.png" | prepend: site.image | prepend: site.url }}" sizes="32x32">
<link rel="apple-touch-icon" type="image/png" href="{{ "favicon/apple-touch-icon.png" | prepend: site.image | prepend: site.url }}" sizes="180x180">
<!-- End favicons -->

{% feed_meta %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- Typeface -->
<link rel="stylesheet" href="{% if page.layout == 'home' %}{{site.all_font | prepend: site.googleapis}}{% else %}{{site.header_font | prepend: site.googleapis}}{% endif %}">
<link rel="stylesheet" href="{{ "icon?family=Material+Icons" | prepend: site.googleapis}}">
