{% assign data={{include.content}} %}
{% if data.images %}
<div class="container row">
    {% for i in data.images %}
      {% if i.mobileSize %}
      <div class="col m{{i.size}} s{{i.mobileSize}}"><div class="card">
      {% else %}
      <div class="col s{{i.size}}"><div class="card">
      {% endif %}
      {% if i.clickable %}
      <div class="card-image materialboxed">
      {% else %}
      <div class="card-image">
      {% endif %}
        <img src="{{i.url | prepend: site.image | prepend: site.url}}">
        {% if i.name %}
        <span class="card-title">{{i.name}}</span>
        {% endif %}
      </div>
    </div></div>
    {% endfor %}
    {% if data.gifs %}
    {% for g in data.gifs %}
    <div class="col m{{g.size}} s12" style="margin-top:0.5em;">
      <img class="load-later responsive-img" src="{{g.url}}">
    </div>
    {% endfor %}
    {% endif %}
</div>
{% elsif data.videos %}
  {% if data.isContentContained %}
  <div class="container row">
  {% else %}
  <div class="row">
  {% endif %}
  {% for v in data.videos %}
  <div class="col m{{v.size}} s12 {{v.offset}}"><div class="video-container">
    <iframe class="load-later" frameborder="0" allowfullscreen src="{{v.url}}"></iframe>
  </div></div>
  {% endfor %}
</div>
{% endif %}
