.logo-img{
  background-image: url(../assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 2.8em;
  padding-bottom: 2.8em;
  margin-left: 0.4em;
  margin-top: 0.4em;
}

.github-img-holder{
  margin-left: -0.2em;
margin-top: 1.85em;
margin-right: 15px;
color: #e1f5fe;
}

.github-img{
  background-image: url(../assets/img/GitHub.png);
	background-repeat: no-repeat;
	background-size: contain;
  padding: 1em;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.headroom--unpinned {top: -200px;}
.headroom--pinned {top: 0;}
.headroom--top{
  .link-item, .github-img-holder  {color: #e1f5fe;}
  .link-item:hover {color: #ffecb3;}
  .side-nav{
    .link-item {color: #03a9f4;}
    .link-item:hover {color: #ffb300;}
  }
  .button-collapse i {color: #e1f5fe;}
}

.headroom--not-top{
  .link-item, .github-img-holder {color: #03a9f4;}
  .link-item:hover {color: #ffb300;}
  .button-collapse i {color: #03a9f4;}
  .nav-wrapper{background-color: rgba(225,245,254,0.70);}
} 

.parallax-txt-section {
	z-index: 1;
	width: 100%;
	position: absolute;
	height: 100%;
}
.parallax-container {
	height: 400px;
	background-color: rgba(242,250,254,0.20);
}
