/*Preloader*/
#preload {
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 9999;
	background-color: #e1f5fe;
}
#progress-logo {
	background-image: url(../img/logo.png);
	background-position: center center;
	background-size: contain;
	height: 120px;
	background-repeat: no-repeat;
	width: 120px;
	display: block;
	margin-bottom: 2em;
}

hr {
	border: 0;
	height: 1px !important;
	background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0.00) 0%,rgba(255,193,7,1.00) 50%,rgba(139,195,74,0.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0.00) 0%,rgba(255,193,7,1.00) 50%,rgba(139,195,74,0.00) 100%);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(0deg,rgba(255,255,255,0.00) 0%,rgba(255,193,7,1.00) 50%,rgba(139,195,74,0.00) 100%);
	background-image: linear-gradient(90deg,rgba(255,255,255,0.00) 0%,rgba(255,193,7,1.00) 50%,rgba(139,195,74,0.00) 100%);
}

.logo-img{
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 2.8em;
  padding-bottom: 2.8em;
  margin-left: 0.4em;
  margin-top: 0.4em;
}

.github-img-holder{
  margin-left: -0.2em;
	margin-top: 1.85em;
	margin-right: 15px;
	color: #e1f5fe;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.headroom--unpinned {top: -200px;}
.headroom--pinned {top: 0;}
.headroom--top .side-nav{
    .link-item {color: #03a9f4;}
    .link-item:hover {color: #ffb300;}
}

.headroom--not-top{
  .link-item, .github-img-holder {color: #03a9f4;}
  .link-item:hover {color: #ffb300;}
  .button-collapse i {color: #03a9f4;}
  .nav-wrapper{background-color: rgba(225,245,254,0.70);}
}

.parallax-txt-section {
	z-index: 1;
	width: 100%;
	position: absolute;
	height: 100%;
}
.parallax-container {
	height: 400px;
	background-color: rgba(242,250,254,0.20);
}
