---
layout: default
mainColor: "#03a9f4"
accentColor: "#ffb300"
permalink: /projects/{{page.raw-title}}
---

<section class="post-start row">
  <h4>{{page.raw-title}}</h4>
  <h6>{{ page.date | date: '%B %d, %Y' }}</h6>
  <hr>
  <section id="top-side" class="hide-on-large-only center-align">
    <ul class="section">
      <div class="post-divider"></div>
      {% for s in page.sections %}
      <li><a href="#{{s.tag}}">{{s.name}}</a></li>
      {% endfor %}
      <div class="post-divider"></div>
    </ul>
    {% if page.sourceLink %}
    <div><a class="gold-btn btn-large" href="{{page.sourceLink}}">Source</a></div>
    {% endif %}
  </section>
  <section class="col l9 m12 s12">
    {% for s in page.sections %}
    <article class="scrollspy" id="{{s.tag}}">
      <h5>{{s.name}}</h5>
      <div class="post-divider"></div>
      {% if s.content %}
        {% for c in s.content %}
        <p>{{c}}</p>
        {% endfor %}
      {% elsif s.subContent %}
        {% for c in s.subContent %}
          {% if c.name %}
          <h6>{{c.name}}</h6>
          <hr>
          {% endif %}
          {% if c.content %}
            {% if c.isContentContained %}
            <div class="container">
            {% else %}
            <div>
            {% endif %}
            {% for p in c.content %}
              <p>{{p}}</p>
            {% endfor %}
            </div>
          {% endif %}
          {% if c.specialContent %}
          {% if c.isContentContained %}
          <div class="container">
          {% else %}
          <div>
          {% endif %}
          {% include snippets/{{c.specialContent}} %}
          </div>
          {% endif %}
          {% include post_media.html content=c %}
        {% endfor %}
      {% endif %}
      {% include post_media.html content=s %}
    </article>
    {% endfor %}
  </section>

  <section id="slide-holder" class="hide-on-med-and-down col l3">
    <div id="side">
      <ul class="section table-of-contents">
        {% for s in page.sections %}
        <li><a href="#{{s.tag}}">{{s.name}}</a></li>
        {% endfor %}
      </ul>
      {% if page.sourceLink %}
      <div><a class="gold-btn side-btn btn" href="{{page.sourceLink}}">Source</a></div>
      {% endif %}

    </div>
  </section>
</section>
